---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aliquam earum dignissimos. Earum nam exercitationem ex fugit corporis iusto quis tempora! Pariatur reiciendis earum harum error ipsa ad nesciunt ipsam fugit! Unde facere vitae quo. Eveniet doloremque eos esse doloribus libero molestias tempore quas porro unde consequuntur? Quas aliquam vel autem aspernatur magni deserunt ipsam eum deleniti consequuntur nostrum id dolorem ab neque, corporis dolore asperiores ratione doloremque accusantium, dignissimos facilis odit nemo minus harum. Corrupti perferendis voluptatum maxime eveniet aliquam commodi at quis sapiente harum autem? Alias odit illum itaque, atque laborum, placeat ipsum, magni architecto dolore reprehenderit quasi.</p>
</Layout>